
//START: quick hack for a demo. Add named color vars to the theme var file, then replace.
h2{
  color: #0a214f;
  font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

h1{
  color: #0076c0;
  font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  border-bottom: solid 1px #0076c0;
}
//END: quick hack for a demo.
