
//START: quick hack for a demo. Add named color vars to the theme var file, then replace.
h2{
  color: #0a214f;
  font-family: 'Lato','Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

h1{
  color: #0076c0;
  font-family: 'Lato','Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  border-bottom: solid 1px #0076c0;
}
body{
  font-size: 14px;
  font-family: 'Lato','Trebuchet MS', Arial, Helvetica, sans-serif;
line-height: 1.5em;
color: #475e7b;
}

a{
  color: #0076c0;
}

// menu Block Styling
.navbar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:#0a214f
}
.navbar-nav .nav-link {
    padding-bottom: 0;
}

.navbar {

    padding: 0;
}
.nav-menu{
      margin-top: 16px;
}
.navbar #main-menu, .navbar-nav .nav-item {
    float: right;
}
//END: quick hack for a demo.
